<section class="section-gap">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                {{>sidebar}}
            </div>
            <div class="col-lg-8">
                {{#each posts}} 
                <div class="blog-post">
                    <a href="/posts/{{this.slug}}"><img
                            class="rounded mb-lg-5 mb-4"
                            src="{{this.image}}"
                            alt="card image"
                        /></a>
                    <h3 class=""><a href="/posts/{{this.slug}}">{{this.title}}
                            </a></h3>
                    <div class="meta font-lora my-4">
                        <a href="#">{{this.full_name}}</a>
                        <span class="meta-separator"></span>
                        <a href="#">{{this.jalali_date}}</a>
                    </div>
                    <p>{{{this.excerpt}}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>